<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil de Usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20" [formGroup]="perfilForm" (submit)="actualizarPerfil()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" placeholder="Nombre del Usuario" formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email" [readOnly]="usuario.google">
                        </div>
                    </div>
                    
                    <button type="submit" [disabled]="perfilForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i> Guardar Cambios
                    </button>

                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <!-- Card -->
        <div class="card">

            <div class="text-center mt-4">
                <img *ngIf="!imgTmp" class="img-avatar img-responsive" [src]="usuario.imagenUrl" alt="">

                <!-- vista previa -->
                <img *ngIf="imgTmp" class="img-avatar img-responsive" [src]="imgTmp" alt="">
            </div>             

            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>
                <div class="form-group">
                    <!-- <label>Default file upload</label> -->
                    <input type="file" class="form-control" (change)="cambiarImagen($event)">
                </div>

                <button type="button" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="!imagenSubir" (click)="subirImagen()">
                    <i class="fa fa-save"></i> Cambiar Imagen
                </button>
            </div>
        </div>
        <!-- Card -->
    </div>


</div>