.fast{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

.selector, .cursor{
    cursor: pointer;
}

#google-btn{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center !important;
    margin-bottom: 10px;
}

.img-avatar{
    width: 200px;
    max-height: 100%;
}

.w100{
    width: 100px;
}

.foto{
    width: 40px;
    max-height: 100%;
}