<div class="row">
    <div class="col-12 animated fadeIn">
        <div class="card">
            <div class="card-body">

                    <input type="text" class="form-control" placeholder="Buscar usuario" />

            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="cargando">
    <div class="col-12 animated fadeIn">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere.</p>
        </div>
    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <h6 class="card-subtitle">Usuarios registrados en la aplicación. ({{ total_usuario }}) - ({{ desde }})</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Email</th>
                                <th>Nombre</th>
                                <th class="w100">Roles</th>
                                <th class="w100">Auth</th>
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <img [src]="usuario.imagenUrl" alt="user" class="img-circle foto">
                                </td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.nombre }}</td>
                                <td>{{ usuario.role }}</td>
                                <td>
                                    <div *ngIf="usuario.google" class="label label-table label-danger">Google</div>
                                    <div *ngIf="!usuario.google" class="label label-table label-info">Email</div>
                                </td>
                                <td class="text-wrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-trash text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button (click)="cambiarPagina(-5)" class="btn btn-secondary mr-2"><i class="fa fa-chevron-left"></i> Anterior</button>

                <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente <i class="fa fa-chevron-right"></i></button>
                
            </div>
        </div>
    </div>


</div>

